* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container{
    width: 995px;
    margin: 0 auto;
    background: #E5E5E5;
}
.header{
    background-image: url(/Image/slideshow.png);
    background-repeat: no-repeat;
    /*height: 476px;*/
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.5), 0 8px 20px 0 rgba(0, 0, 0, 0.20);
}
.header-bar{
    height: 59px;
    display: flex;
    text-align: center;
}
.header-logo{
    height: 56px;
    width: 251px;
    padding-top: 10px;
    backdrop-filter: blur(20px);
    margin-right: 3px;
}
.header-bar-menu ul{
    display: flex;
}
.header-bar span{

    color: #818181;
}
.header-bar-ft{
    margin-top: 16px;
    float:inline-end;
    height: 3px;
    background-color: #FF7300;
}
.header-bar-ft-logo{
    margin-top: 7px;
    float:inline-end;
    height: 3px;
    background-color: #FF7300;
}
.header-movies{
    padding-top: 19px;
    width: 132px;
    backdrop-filter: blur(20px);
    margin-right: 3px;
}
.header-tt{
    padding-top: 19px;
    width: 222px;
    backdrop-filter: blur(20px);
    margin-right: 3px;
}
.header-news{
    padding-top: 19px;
    width: 170px;
    backdrop-filter: blur(20px);
    margin-right: 3px;
}
.header-join{
    padding-top: 19px;
    width: 213px;
    backdrop-filter: blur(20px);
}
#sp-join{
    color: blue;
    padding-right: 5px;
}
#sp-fandagovip{
    color:#FF7300;
    padding-right: 5px;
    font-weight: bold;
}
.login-signin{
    margin-top: 10px;
    position: absolute;
    width: 140px;
    height: 40px;
    background: rgba(51, 51, 51, 0.2);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
}

.login-signin span{
    color: #FFF;
    font-size: 14px;
    line-height: 106.69%;
    padding: 10px;
}
.login-signin p, span{
    padding-top: 10px;
    color: #FFF;
}
.header-ticket{
    position: absolute;
    margin: 365px 830px;
    display: none;
}
.header-ft{
    margin-top: 386px;
    height: 31px;
    background-image: url(/Image/ft-logo\ 8.png);

}
.header-ft ul{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.header-ft li{
    height: 100%;
    
}
.header-ft li:hover{
    background-color: #FFF;
    height: 6px;
    margin-top: 11px;
    margin-right: 5px;
    width: 75px;
}
.next-slideshow{
    margin-top: 14px;
    margin-right: 5px;
    height: 3px;
    width: 75px;
    background: #FFFFFF;
    opacity: 0.5;
}
/*slideshow*/
.slider{
    width: 995px;
    height: 445px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
}

    /*css for manual slide navigation*/
.bg-navigation-auto{
        height: 37px;
    background-image: url(/Image/ft-logo\ 8.png);
}
.navigation-manual{
    position: absolute;
    width: 995px;
    margin-top: -40px;
    display: flex;
    justify-content: center;;
}

.manual-btn{
    height: 4px;
    padding: 1px 40px;
    cursor: pointer;
    transition: 1s;
    background: #FFFFFF;
    opacity: 0.5;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background: #FFF;
    margin-top: -4px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}
/*css for automatic navigation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 995px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    height: 8px;
    padding: 1px 40px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 10px;
}
/* auto nhay doi*/
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #FFF;
    margin-top: -4px;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #FFF;
    margin-top: -4px;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #FFF;
    margin-top: -4px;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #FFF;
    margin-top: -4px;
}
/*NEXT SLIDESHOW*/
.next-slide{
    display: flex;
    width: 995px;
    position: absolute;
    text-align: center;
    margin-top: 200px;
    justify-content: space-between;
}
.next-left{
    width: 40px;
    height: 60px;
    border: 1px solid #DDDDDD;
    background-color: #DDDDDD;
    border-bottom-right-radius: 50%;
    border-top-right-radius:50%;
    padding: 15px;
}
.next-right{
    width: 40px;
    height: 60px;
    border: 1px solid #DDDDDD;
    background-color: #DDDDDD;
    border-bottom-left-radius: 50%;
    border-top-left-radius:50%;
    padding: 15px;
}



